* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  background-color: black !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*h1*/
  /*fin h1 y subtitulo*/
  /*fotter*/
}
body .titulo {
  color: whitesmoke;
  text-align: center;
  position: relative;
  margin-top: 180px;
  margin-bottom: 25px;
  text-shadow: rgb(34, 34, 117) 5px 15px 50px;
  font-family: "Chonburi", serif;
  font-size: 25px;
  font-style: normal;
  z-index: -1;
}
body h1 {
  font-size: 2em;
}
body .subtitulo {
  font-size: 5px;
  color: whitesmoke;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  margin-top: 100px;
}
body img {
  width: 50px;
  height: 50px;
}
body .pagina {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

/* nav bar*/
header {
  background: rgba(45, 50, 56, 0.2470588235);
  backdrop-filter: blur(8px) !important;
  position: sticky;
  top: 0px;
  font-family: "Chonburi", serif;
  font-style: normal;
  z-index: 3 !important;
  /*menu aromas*/
  /*linea de icon nav bar*/
  /*fin linea de icon nav bar*/
}
header .nav-item:hover {
  font-weight: bolder !important;
}
header .navbar-brand {
  color: whitesmoke !important;
}
header .dropdown-menu {
  background: transparent;
  backdrop-filter: blur(8px) !important;
  border: none !important;
}
header .dropdown-item {
  color: whitesmoke !important;
}
header .dropdown-item:hover {
  color: rgb(218, 156, 41) !important;
  font-weight: bolder;
}
header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28247, 245, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  color: whitesmoke !important;
}

.nav-link:hover {
  color: rgb(218, 156, 41) !important;
}

/*borde de boton de expancion*/
.navbar-toggler {
  color: rgb(218, 156, 41) !important;
}

.navbar-toggler {
  background-color: transparent !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

.photo-grid2 {
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

/*logo A secundario*/
.logo4 {
  border-radius: 100%;
  width: 150px;
  height: 125px;
  margin: 10px;
  justify-content: center;
}

/*fin logo A secundario*/
.carousel {
  width: 80%;
  height: 80%;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 20px;
  padding: 5px !important;
}

.frascos-seis {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.descripcion {
  /*font-size: 20px;
  color: whitesmoke;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 100px;*/
  font-size: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Sedan", serif;
  font-style: normal;
  padding: 30px 30px;
  color: white;
  text-shadow: 5px -1px 1px rgb(2, 2, 2) !important;
  background: rgba(58, 61, 53, 0.39);
}

/*# sourceMappingURL=estilos.css.map */
