header {
    background: transparent;
    position: sticky;
    top :0px;
    font-family: "Chonburi", serif;
    font-style: normal;
    z-index: 1;
    
    .nav-item:hover{
        font-weight: bolder !important;
    }


    .navbar-brand{
        color: whitesmoke !important;
        
      
    }

    /*menu aromas*/

    .dropdown-menu{
        background-color: transparent !important;
    }
   
    .dropdown-item{
        color: whitesmoke !important;
        
        
    }.dropdown-item:hover{
        color:  rgb(218, 156, 41) !important;
        font-weight: bolder;
        
    }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28247, 245, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
   
   
}
.nav-link{
    color: whitesmoke !important;
      
}
.nav-link:hover{

    color: rgb(218, 156, 41) !important;
}
/*borde de boton de expancion*/
.navbar-toggler{
    color: rgb(218, 156, 41) !important;
    
}

.navbar-toggler{
    background-color: none!important;
}
.dropdown-item:hover{
    background-color: transparent !important;
}