//nuevos

.photo-grid2{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}
/*logo A secundario*/
.logo4{
    border-radius: 100%;
    width: 150px;
    height: 125px;
    margin: 10px;
    justify-content: center;
}

/*fin logo A secundario*/

.carousel {
    width:90%;
    height:80%;
    justify-content: center !important;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
  }
  


.frascos-seis{
   width: 100% !important;
    height: 579px !important;

}


