
@mixin fuente{
    
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Sedan", serif;
    font-style: normal;
    padding: 30px 30px;
    color:white;
    text-shadow: 5px -1px 1px rgb(2, 2, 2)!important;
    background: rgba(58, 61, 53, 0.39);
    }
    
    .descripcion-dos{
        font-size: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-family: "Sedan", serif;
        font-style: italic;
        padding: 30px 30px;
        color:#ffbf47 ;
        text-shadow: 5px -1px 1px rgb(43, 31, 31)!important;
        background: rgba(58, 61, 53, 0.39);
    }
    
    


//nuevos

.descripcion{
    @include fuente;
}